PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/carDB
ADMIN_USERNAME=DIBU
ADMIN_PASSWORD=DIBU237
ADMIN_TOKEN=under2k-admin-token
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
EMAIL_TO=your-real-email@example.com
